<div class="update-product">
    <h1>Update Product</h1>
    <p class="message-p">{{productMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="comman-form">
        <input class="comman-input" ngModel="{{productData?.name}}" name="name" type="text"
            placeholder="Enter Product Name">
        <input class="comman-input" ngModel="{{productData?.price}}" name="price" type="text"
            placeholder="Enter Product Price">
        <input class="comman-input" ngModel="{{productData?.color}}" name="color" type="text"
            placeholder="Enter Product Color">
        <input class="comman-input" ngModel="{{productData?.category}}" name="category" type="text"
            placeholder="Enter Product Category">
        <textarea class="comman-input" ngModel="{{productData?.description}}" name="description" type="text"
            placeholder="Enter Product Description">
        </textarea>
        <input class="comman-input" ngModel="{{productData?.image}}" name="image" type="text"
            placeholder="Enter Product image URl">
        <button class="comman-button">Update Product</button>
    </form>
</div>

<app-footer></app-footer>